# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.client-app.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\dev\academy\Demos\DemoStore\Store.App\client-app\.idea\.idea.client-app.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
