.card {
    background: white;
    margin: 0 auto;
    height: 300px;
    width: 100%;
}

.card .name {
    font-size: 1.5em;
}

.card span {
    display: block;
    text-align: center;
}

.card .price {
    font-size: 2em;
    font-weight: bold;
}

.card button {
    margin: 10px auto;
    display: block;
}

.image img {
    width: 80%;
    display: block;
    margin: 10px auto;
}

.items {
    grid-area: content;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
}
