@model IEnumerable<Store.DAL.Models.Category>

@{
    ViewData["Title"] = "Catalog";
}

<h1>Welcome to Demo Store</h1>

<select id="category" multiple class="selectpicker">
    @foreach (var category in Model)
    {
        <option value="@category.Id">@category.Name</option>
    }
</select>

<div class="container-fluid pt-3">
    <div id="items" class="row row-cols-4">
    </div>
    <nav aria-label="...">
      <ul class="pagination">
      </ul>
    </nav>
</div>

@section Scripts
{
    <script src="dist/store.entry.js" type="module" defer></script>
}