@model IEnumerable<Store.DAL.Models.Category>

@{
    ViewData["Title"] = "Catalog";
}

<h1>Welcome to Demo Store</h1>

<select id="category">
    @foreach (var category in Model)
    {
        <option value="@category.Id">@category.Name</option>
    }
</select>

<div class="container-fluid pt-3">
    <div id="items" class="row row-cols-4">
    </div>
</div>

@section Scripts
{
    <script>
    function createItem(item){
        return `<div class="col">
                    <div class="card text-center">
                        <img src="/img/${item.image}" alt="${item.name}" class="card-img-top img-fluid"/>
                        <div class="card-body">
                            <h3>${item.name}</h3>
                            <h2>
                                <b>${item.price}</b>
                            </h2>
                            <a href="#">Add to cart</a>
                        </div>
                    </div>
                </div>`;
    }
    
    $(document).ready(function() {
        $("#category").on('change', function(){
            $.get(`/api/v1/categories/${this.value}/products`, function(data){
                data.forEach(item => {
                        $("#items").append(createItem(item));
                    });
            });
        });
    });
</script>
}